::selection
  background: #C70000

::-moz-selection
  background: #C70000

img::selection
  background: transparent

img::-moz-selection
  background: transparent

body
  -webkit-tap-highlight-color: #C70000
